.hide {
    display: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding: 0;
    margin: 0;
    background: white;
    min-width: 275px;
}
header {
    background-image: linear-gradient(to right, #ee0979, #ff6a00);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
h1 {
    text-align: center;
    margin: 0;
    color: white;
    font-size: 1.5em;
    font-weight: 300;
    padding: 5px;
}
main {
    position: relative;
    margin: 2%;
    margin-top: 50px;
    min-width: 275px;
}
#control_panel {
    background-image: linear-gradient(to right, #ee0979, #ff6a00);
    color: white;
    position: fixed;
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25vh;
    min-width: 275px;
}
#switch_btn {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 60%;
    border: 1px solid white;
    border-radius: 25px;
}
#switch_btn p {
    padding: 2px;
    margin: 0;
    text-align: center;
    width: 50%;
    
}
#switch_btn p:hover{
    cursor: pointer;
}

#switch_add {
    border-right: 1px solid;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}
#switch_filter {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}
.switch_active {
    background: white;
    color: #fe6506;
    font-weight: bold;
}
#category_filter_buttons {
    display: flex;
    justify-content: space-evenly;
}
#add_todo label {
    display: inline-block;
    width: 100%;
    
}
#new_todo_field, #filter {
    width: 96%;
    font-size: 6vw;
    padding: 5px;
    padding-left: 15px;
    border-radius: 25px;
    margin-bottom: 5px;
    background: transparent;
    border: solid 0.5px white;
    color: white;
}
#new_todo_field::placeholder, #filter::placeholder {
    color: rgba(255, 255, 255, 70%);
}
.form_div {
    display: inline-block;
    width: 45%;
}

#category_box {
    float: right;
}
#date_field {
    padding: 2px;
   
    font-size: 4vw;
    border-radius: 25px;
}

#date_field, #category_select {
    padding-left: 10px;
    width: 100%;
    background: white;
    color: #f6383f;
    border: solid;
}
#category_select {
    padding: 5px;
    font-size: 4vw;
    border-radius: 25px;

}
#add_todo button {
    display: block;
    color: white;
    font-family: 'Lato';
    font-size: 1rem;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    border: solid 1px;
    border-radius: 25px;
    background: transparent;
    margin-top: 10px;
}

#filter_div {
    margin-top: 10px;
}
#category_filter_buttons label {
    display: inline-block;
}

#todo_list {
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: scroll;
    max-height: 63vh;
}
.content_div {
    height: fit-content;
}

.listitem{
    border-bottom: solid 0.5px black;
    padding-top: 10px;
}
.item_content {
    display: inline-block;
    height: fit-content;
    font-size: 7vw;
    margin-bottom: 2px;
    margin-top: 0;
    margin-right: 0;
    line-height: 1.2;
    font-weight: 400;
    max-width: 90%;
    overflow-x: auto;
    overflow-y: hidden;
    overflow-wrap: normal;

}
.content_div i {
    font-size: 5.5vw;
}
.category_tag {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2%; 
}
.category_tag, time {
    color: rgba(0, 0, 0, 30%);
    font-weight: 600;
    font-size: 4vw;
}

.category_tag i, time i {
    padding-right: 4px;
    color: rgba(0, 0, 0, 50%);
}
.delete_btn {
    float: right;
}
.delete_btn:hover {
    cursor: pointer;
}
.past_deadline{
    color: red;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #control_panel {
        padding-bottom: 20px;
    }
    .item_content {
        font-size: 4.5vw;
        overflow-x: visible;
        overflow-wrap: break-word;
    }
    
    .category_tag, time {
        font-size: 2vw;
    }
    .content_div i {
        font-size: 3vw;
    }
    #todo_list {
        max-height: 60vh;
        overflow-y: auto;
    }
    #new_todo_field, #filter {
        font-size: 3vw;
    }
    #category_select, #date_field {
        font-size: 1.3em;
    }
    #date_field {
        padding: 5px;
    }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        height: 100vh;
        overflow: hidden;
    }
    main{
        position: static;
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        height: 100vh;
        padding-top: 50px;
    }
    #todo_list {
        display: inline-block;
        width: 50%;
        max-height: 80vh;
        margin-top: 5vh;

    }
    .item_content {
        font-size: 3vw;
    }
    .category_tag, time {
        font-size: 1em;
    }
    .content_div i {
        font-size: 2.5vw;
    }
    #control_panel {
        background-image: none;
        position: static;
        width: 50%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0;
    }
    #add_todo {
        margin-bottom: 25px;
    }
    #filter_div, #add_todo {
        background-image: linear-gradient(to right, #ee0979, #ff6a00);
        border-radius: 15px;
        padding: 25px;
    }
    .hide {
        display: block;
    }
    #switch_btn {
        display: none;
    }
   
  
    #category_filter_buttons label {
        font-size: 0.8em;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #new_todo_field, #filter {
        border-radius: 50px;
        font-size: 1.5em;
    }
    .item_content {
        font-size: 2em;
    }
    .content_div i {
        font-size: 2em;
    }
    #todo_list {
        padding-left: 30px;
        padding-right: 30px;
    }
}