body {
    font-family: 'Lato', sans-serif;
}
.listitem{
    border-bottom: solid 0.5px black;
}
.item_content {
    font-size: 4vw;
    margin-bottom: 5px;
    margin-top: 0;
}
.category_tag {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2%;
    
}
.category_tag i, time i {
    padding-right: 4px;
}
.delete_btn {
    float: right;
}
.delete_btn:hover {
    cursor: pointer;
}