body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding: 0;
    margin: 0;
}
header {
    background: cornflowerblue;
}
h1 {
    text-align: center;
    margin: 0;
    color: white;
    font-size: 1.5em;
    font-weight: 300;
    padding: 5px;
}
main {
    margin: 2%;
}

#add_todo {
    position: absolute;
    bottom: 0;
}
#add_todo label {
    display: inline-block;
    width: 100%;
    
}
#new_todo_field, #filter {
    width: 96%;
    font-size: 6vw;
    padding: 5px;
    border-radius: 25px;
    margin-bottom: 5px;
    
}
.form_div {
    display: inline-block;
    width: 45%;
}

#category_box {
    float: right;
}

#date_field {
    padding: 2px;
    font-size: 4vw;
    border-radius: 25px;
    width: 100%;
}
#category_select {
    padding: 5px;
    font-size: 4vw;
    border-radius: 25px;
    width: 100%;
}
#add_todo button {
    display: block;
    color: black;
    font-family: 'Lato';
    font-size: 1rem;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    border: solid 1px black;
    border-radius: 25px;
    background: transparent;
    margin-top: 10px;
}

#filter_div {
    margin-top: 10px;
}
#category_filter_buttons label {
    display: inline-block;
}

#todo_list {
    max-height: 300px;
    overflow-y: scroll;
    padding-left: 15px;
    padding-right: 15px;
}
.content_div {
    height: fit-content;
}

.listitem{
    border-bottom: solid 0.5px black;
    padding-top: 10px;
}
.item_content {
    display: inline-block;
    height: fit-content;
    font-size: 7vw;
    margin-bottom: 2px;
    margin-top: 0;
    margin-right: 0;
    line-height: 1.2;
    font-weight: 400;
    max-width: 90%;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow-wrap: normal;

}
.content_div i {
    font-size: 5.5vw;
}
.category_tag {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2%; 
}
.category_tag, time {
    color: rgba(0, 0, 0, 30%);
    font-weight: 600;
    font-size: 3vw;
}

.category_tag i, time i {
    padding-right: 4px;
    color: rgba(0, 0, 0, 50%);
}
.delete_btn {
    float: right;
}
.delete_btn:hover {
    cursor: pointer;
}
.past_deadline{
    color: red;
}